body {
	width: 240px;
	margin: 0;
	padding: 0;
	background-color: rgb(20, 21, 23);
	color: white;
	overflow-x: hidden;
	font-size: 16px;
	word-break: keep-all;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

button {
	/* width: 100%; */
	padding: 4px 8px;
	font-weight: bold;
	font-size: 0.7rem;
	background-color: rgb(156, 169, 255);
	line-height: 1.5;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: rgb(119, 137, 255);
}

h2 {
	margin-block: 0.35rem;
}

h3 {
	margin-block: 0.35em;
}

.logo {
	width: 24px;
	height: 24px;
}

.title-wrapper {
	display: flex;
	background-color: rgb(9, 9, 10);
	padding-block: 8px;
	border-radius: 0 0 12px 12px;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 0;
}

.whole-container {
	padding: 4px 12px 12px 12px;
	font-size: 0.7rem;
}

.center-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-container {
	padding-block: 8px;
}

p {
	margin-block: 0.25rem;
}

#followings-title {
	cursor: help;
}

#followings {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-top: 8px;
	height: 300px;
	max-height: 300px;
	overflow-y: auto;
}

.following {
	position: relative;
	border: 1px solid white;
	border-radius: 0.125rem;
	padding: 2px 4px;
	background-color: rgb(245, 245, 245);
	cursor: pointer;
	user-select: none;
}

.following:hover {
	background-color: rgb(202, 202, 202);
}

.following:hover > .following-upload-image {
	opacity: 1;
}

.following-info {
	display: flex;
	flex-direction: row;
	gap: 2px;
	align-items: center;
	padding-left: 2px;
	font-size: 0.875rem;
	font-weight: bold;
}

.following-image {
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
}

.following-live_title {
	font-size: 0.625rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.following-upload-image {
	position: absolute;
	top: 6px;
	right: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background-color: rgb(237, 239, 255);
	overflow: hidden;
	opacity: 0;
	transition: 0.3s all;
}

.following-upload-image > svg {
	width: 16px;
	height: 16px;
}

.live-dot {
	color: crimson;
	margin-left: 1px;
	filter: blur(0.5px);
}

.is-live {
	color: rgb(79, 255, 167) !important;
}
